.header {
    background: white;
    top: 0px;
    float: left;
    position: absolute;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

.container {
    width: auto;
    max-width: 85%;
    padding: 0 15px;
}

.logout {
    float: right;
    cursor: pointer;
}